@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Red-400: hsl(0, 100%, 74%);
  --Green-400: hsl(154, 59%, 51%);
  --Purple-700: hsl(248, 32%, 49%);
  --Gray-900: hsl(249, 10%, 26%);
  --Purple-350: hsl(246, 25%, 77%);
  --text-size: 14px;
  --text-color: #fff;
  --heading-bold: 500;
  --heading-light: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --Red-400: hsl(0, 92%, 24%);
  }
}

body {
  background-color: var(--Red-400);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

main {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  margin-bottom: 100rem;
}

.description-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description-section h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.description-section p {
  line-height: 1.8;
  font-size: var(--text-size);
}
/* .trail-container{
    display: flex;
    flex-direction: column;
    ga;
} */
.trialNotification-section {
  background-color: var(--Purple-700);
  padding: 1.5rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.trialNotification-section span {
  font-weight: bold;
}
form {
  background-color: var(--text-color);
  padding: 1rem;
  border-radius: 8px;
  color: black;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--Purple-350);
  margin-bottom: 1rem;
  padding: 0 10px;
}
input::placeholder {
  color: var(--Gray-900);
  font-weight: var(--heading-bold);
  font-family: "Poppins";
}
input:focus,
input:active {
  outline: 1px solid var(--Purple-700);
}
button {
  background-color: var(--Green-400);
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: var(--heading-bold);
  margin-bottom: 1rem;
}
form p {
  font-size: var(--text-size);
  font-size: 12px;
}
form span {
  color: var(--Red-400);
  font-weight: var(--heading-bold);
}
@media (min-width: 1000px) {
  body{
    padding: 4rem 6rem;
  }
  main{
    flex-direction: row;
    align-items: center;
  }
}
